@page
@model issue_tracker_crud.Pages.Issues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Issue.IssueTitle" class="control-label"></label>
                <input asp-for="Issue.IssueTitle" class="form-control" />
                <span asp-validation-for="Issue.IssueTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IssueDescription" class="control-label"></label>
                <input asp-for="Issue.IssueDescription" class="form-control" />
                <span asp-validation-for="Issue.IssueDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.IssueLevel" class="control-label"></label>
                <input asp-for="Issue.IssueLevel" class="form-control" />
                <span asp-validation-for="Issue.IssueLevel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Issue.IssueAssigned" /> @Html.DisplayNameFor(model => model.Issue.IssueAssigned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Issue.IsIssueOpen" /> @Html.DisplayNameFor(model => model.Issue.IsIssueOpen)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
